@import "global.css";
.header-container{
    margin:20px 0;
}
.create_form{
    width:50%;
    border:1px solid black;
    margin:20px 0;
}
.create_form h3{
    text-align: center;
}
.create_form input,
.create_form select{
    margin-left:1rem;
}
.page{
    font-size:15px;
    padding-left:20px;
    margin:2rem 0;
}
#for_result{
text-align:center;
font-size:15px;
}
.none{
    display:none;
}
.container{
    width:1200px;
    margin:0 auto;
}
.flex-row{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    margin: 0 15px;
}
.block{
    display:block;
}
.flex-auth{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}
.flex-auth a{
margin-right:20px;
text-decoration :none;
}

a{
color:blue;
}

.shown{
display:block;
position:absolute;
top:40%;
left:40%;
border:1px solid white;
border-radius:10px;
background-color: white;
width: 17%;
padding:10px; 
text-align: center;
}

div.form_window input,
div.form_window_reg input
{   padding:10px;
    margin-top:1rem;
}

.flex-column input,
.flex-column select{
width:70%;
margin:10px auto;
}
.flex-column{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.block{
display:block;
}
.close_modal_reg,
.close_modal{
    position: absolute;
    right:5%;
    top:3%;
    cursor: pointer;
}
.edit_form{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin:20px 0;
}
.edit-container{
    padding:30px 0;
    margin-bottom:2rem;
}
