.create_form{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:15px;
    border:1px solid black;
    margin-bottom: 15px;
}
.flex-column input{
padding:5px;
margin-bottom:10px;
}
.page{
    margin:15rem 0;
}
.none{
    display:none;
}
.container{
    width:1200px;
    margin:0 auto;
}
.flex-row{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: left;
    flex-wrap:nowrap;
    margin-right:15px;
}
.flex-auth{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}
.flex-auth a{
margin-right:20px;
}

.active{
    color:white;
}

.shown{
display:block;
position:absolute;
top:40%;
left:40%;
border:1px solid black;
border-radius:10px;
background-color: white;
padding:20px 10px;
width:15%;
}

div.form_window input,
div.form_window_reg input
{
    padding:10px;
    margin-top:1rem;

}
.close-modal{
    transform:rotate(45deg);
    font-size:2rem;
    position:absolute;
    right:5px;
    top:0px;
    cursor: pointer;
}
.status{
    height:20px;
}
